*.swp
*.swo

*.db
*.pyc
*.log
*.pot
.idea/*
project/settings/_secrets.py
project/node_modules
project/static/
public/
.vagrant/
salt/
src/
Vagrantfile
multiad.sublime-project
multiad.sublime-workspace
